.Container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--primary-color);
}

.Container footer svg {
  margin-bottom: -30px;
}

.Copyright {
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
  background-color: #fff;
}

.Header ul {
  width: 100%;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
}

.Header li {
  float: right;
}

.Header li span {
  display: block;
  padding: 16px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  color: #fff;
}

.Header li span:hover {
  cursor: pointer;
}

.Body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.LeftPart {
  margin: 0 20px;
}

.RightPart {
  text-align: center;
}

.LeftPart h1 {
  margin: 0 0 28px 0;
  font-size: 42px;
  color: #fff;
}

.LeftPart p {
  width: 600px;
  font-size: 22px;
  line-height: 30px;
  color: #fff;
}

.Container > div {
  display: flex;
  flex-direction: row;
}

.ButtonWrapper {
  width: 327px;
  margin-top: 40px;
}

.ButtonWrapper button {
  height: 80px;
  font-weight: 700;
  font-size: 36px;
  transition: all 0.15s ease-in-out;
}

.ButtonWrapper button:hover {
  transform: scale(1.1);
}

.ButtonWrapper p {
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

.Demo,
.Demo img {
  width: 640px;
  height: 360px;
}

.Demo {
  border-radius: 18px;
  padding: 10px;
  background-color: #fff;
}

.Demo img {
  border-radius: 16px;
}

.DemoDescription {
  color: #88ffa3;
  font-weight: bold;
  margin-top: 10px;
  font-size: 28px;
}

.ModalStyle {
  position: absolute;
  padding: 40px;
  top: 200px;
  left: 200px;
  right: 200px;
  bottom: 200px;
  height: 250px;
  background-color: #fff;
}

.ModalStyle:focus {
  outline: 0px solid transparent;
}

.RoomInput input {
  min-width: 350px;
  font-size: 82px;
  height: 110px;
  font-weight: 700;
}

.RoomInput {
  margin: 0 10px;
  height: 110px;
}

.ModalButton {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

@media (max-width: 1400px) {
  .LeftPart h1 {
    margin: 0 0 28px 0;
    font-size: 38px;
    color: #fff;
  }

  .LeftPart p {
    width: 90%;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
  }

  .RightPart {
    text-align: center;
  }

  .Demo,
  .Demo img {
    width: 495px;
    height: 250px;
  }
}

@media (max-width: 1200px) {
  .Container {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
  }

  .Container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .LeftPart {
    text-align: center;
  }

  .LeftPart p {
    width: 90%;
    margin: 0 auto;
  }

  .RightPart {
    margin: 50px auto 0;
    text-align: center;
  }

  .ButtonWrapper {
    width: 100%;
    margin-top: 40px;
  }

  .Demo,
  .Demo img {
    width: 495px;
    height: 250px;
  }
}

@media (max-width: 900px) {
  .ModalStyle {
    left: 100px;
    right: 100px;
  }

  .RoomInput input {
    min-width: 350px;
    font-size: 60px;
    height: 110px;
    font-weight: 700;
  }
}

@media (max-width: 650px) {
  .ModalStyle {
    left: 50px;
    right: 50px;
  }

  .RoomInput input {
    min-width: 350px;
    font-size: 35px;
    height: 110px;
    font-weight: 700;
  }
}

@media (max-width: 600px) {
  .Demo,
  .Demo img {
    width: 400px;
    height: 225px;
  }
}

@media (max-width: 500px) {
  .ModalStyle {
    padding: 20px;
    left: 10px;
    right: 10px;
  }

  .RoomInput input {
    min-width: 300px;
    font-size: 35px;
    height: 110px;
    font-weight: 700;
  }
}

@media (max-width: 480px) {
  .LeftPart h1 {
    font-size: 32px;
  }

  .LeftPart p {
    font-size: 18px;
  }

  .ButtonWrapper button {
    font-size: 32px;
  }

  .RightPart {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .Demo,
  .Demo img {
    width: 350px;
    height: 197px;
  }
}
