.Container {
  height: 100vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.StepWrapper {
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
}

.BannerWrapper {
  max-width: 100vw;
}

.BannerWrapper img {
  margin-top: -150px;
  margin-bottom: 50px;
  height: 150px;
}

.StepContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.StepContainer h1 {
  margin: 0;
  width: 100%;
  font-size: 32px;
  text-align: center;
  color: var(--text-color);
}

.UploadBannerWrapper span {
  margin-bottom: 20px;
}

.StepBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 40px 40px 80px;
}

.StepBody h2 {
  margin: 0;
  font-size: 82px;
  color: var(--text-color);
}

.HashtagWrapper {
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: 82px;
  font-weight: 700;
}

.HashtagInput input {
  max-width: 600px;
  min-width: 350px;
  font-size: 82px;
  height: 110px;
  font-weight: 700;
}

.HashtagInput {
  margin: 0 10px;
  height: 110px;
}

.ButtonWrapper {
  display: flex;
  justify-content: space-around;
}

.ButtonWrapper button {
  width: 240px;
  font-size: 28px;
}

.ColorInput {
  display: flex;
  align-items: center;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
}

.ColorInput input {
  margin-top: 20px;
  margin-left: 5px;
  height: 35px;
  width: 35px;
  border: none;
}

.UploadBannerWrapper {
  font-size: 42px;
  font-weight: 700;
  display: flex;
}

.GivewayWrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 40px;
}

.GivewayWrapper span {
  font-size: 42px;
  font-weight: 700;
  margin-left: 10px;
  margin-right: 10px;
}

.GivewayOption {
  display: flex;
  align-items: center;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
}

.GivewaySelect {
  width: 120px;
  margin: 0 20px;
}

.GivewayInput {
  width: 65px;
  margin-right: 20px;
}

.GiveawayGiftInput {
  display: flex;
}

.AskEmail {
  font-size: 42px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}

.Email {
  margin-top: 25px;
}

.ConfirmationWrapper {
  width: 1000px;
}

.Congrats {
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 50px;
}

.Details {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  font-size: 28px;
  font-weight: 700;
}

.Details span:first-child {
  margin-bottom: 10px;
}

.GoBoard button {
  width: 300px;
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 700;
}

.LoadingWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

@media (max-width: 1000px) {
  .StepWrapper {
    width: 70%;
    max-width: unset;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
  }

  .HashtagWrapper {
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 70px;
    font-weight: 700;
  }

  .StepBody h2 {
    margin: 0;
    font-size: 70px;
    color: var(--text-color);
  }

  .HashtagInput input {
    max-width: 350px;
    min-width: 350px;
    font-size: 70px;
    height: 110px;
    font-weight: 700;
  }
}

@media (max-height: 850px) {
  .BannerWrapper img {
    margin-top: unset;
    /* margin-bottom: 50px; */
    height: 125px;
  }
}

@media (max-width: 710px) {
  .StepWrapper {
    width: 70%;
    max-width: unset;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
  }

  .HashtagWrapper {
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
  }

  .StepBody h2 {
    margin: 0;
    width: 400px;
    font-size: 50px;
    text-align: center;
    color: var(--text-color);
  }

  .HashtagInput input {
    max-width: 300px;
    min-width: 300px;
    font-size: 40px;
    height: 110px;
    font-weight: 700;
  }

  .ColorInput {
    font-size: 42px;
  }

  .UploadBannerWrapper {
    font-size: 30px;
    font-weight: 700;
    display: flex;
  }

  .GivewayWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .GivewayWrapper span {
    font-size: 30px;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: center;
  }

  .GivewayOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .GivewayOption span {
      margin-bottom: 10px;
      margin-top: 10px;
  }

  .GivewaySelect {
    width: 120px;
    margin: 0 20px;
  }

  .GivewayInput {
    width: 65px;
    margin-right: 20px;
  }
}

@media (max-height: 820px) {
  .BannerWrapper img {
    margin-bottom: 25px;
    height: 85px;
  }
}

@media (max-width: 620px) {
  .HashtagWrapper {
    margin-top: 30px;
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
  }

  .HashtagInput input {
    max-width: 250px;
    min-width: 250px;
    font-size: 50px;
    height: 110px;
    font-weight: 700;
  }

  .StepBody h2 {
    width: 400px;
    font-size: 30px;
  }

  .StepBody span {
    font-size: 25px;
  }

  .ButtonWrapper {
    flex-direction: column;
    text-align: center;
  }

  .ButtonWrapper button {
    margin-top: 10px;
  }

  .ColorInput {
    font-size: 30px;
    text-align: center;
  }

  .UploadBannerWrapper {
    font-size: 30px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 560px) {
  .ColorInput {
    flex-direction: column;
  }

  .HashtagInput {
      height: 70px;
  }

  .HashtagInput input {
    max-width: 200px;
    min-width: 200px;
    font-size: 30px;
    height: 70px;
    font-weight: 700;
  }

  .AskEmail {
    text-align: center;
  }

  .AskEmail input {
    font-size: 20px;
    min-width: 225px;
    max-width: 225px;
  }

  .GoBoard button {
    width: unset;
  }
}

@media (max-width: 420px) {
  .ColorInput {
    width: 300px;
    font-size: 25px;
  }

  .UploadBannerWrapper {
    font-size: 25px;
    width: 300px;
  }
}
