.Container {
  display: flex;
  flex-direction: column;
}

.Container input {
  border-style: none;
  border-radius: 10px;
  background-color: var(--bg-color);
  padding: 0 20px;
}

.Container input:focus {
  outline: none;
}

.Label {
  font-size: 16px;
  margin-bottom: 3px;
}
