.Container {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  height: 100vh;
}

.Header {
  display: flex;
  height: 150px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  font-weight: bold;
  background-color: brown;
}

