body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color-1: #eff8ff;
  --primary-color-2: #d7e9f7;
  --primary-color-3: #72caff;
  --primary-color-4: #1da1f2;
  --primary-color-5: #186b9d;
  --primary-color-6: #004c7b;
  --secondary-color-1: #fdf6db;
  --secondary-color-2: #fae9aa;
  --secondary-color-3: #ffdb57;
  --secondary-color-4: #fdcf51;
  --secondary-color-5: #ffc02e;
  --grey-color-1: #f8f9fa;
  --grey-color-2: #abbac9;
  --grey-color-3: #6b7988;
  --grey-color-4: #3f4851;
  --grey-color-5: #292f36;
  --error-color: #eb1c26;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
