.Container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-left: 10px;
}

.Container button {
  width: 160px;
  height: 42px;
  border-radius: 10px;
}

.Container svg {
  height: 20px;
}

.Container input[type='file'] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
